#grid {
    background: #fff;
    box-shadow: 0 0 15px #333;
    width: 640px;
    height: 640px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

  }
#grid div{
    width: calc(100% / 8);
    height: calc(100% / 8);
    background-color: blueviolet;
    outline: 1px solid;
}